/* style général */
body {
	color: #4450B0;
	text-align: justify;
}

/* styles pour les titres */
h1, h2, h3, h4 {
  font-variant: small-caps;
  color: #4450B0;
  background-color: #f0fff0;
  margin-right: 5%;
}
h1 {  margin-left: 1%;}
h2 {  margin-left: 3%;}
h3 {  margin-left: 6%;}
h4 {  margin-left: 9%;}
pre { color: black;}

/* styles pour les boiboites */
.niv{
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  background-color: #ffffff;
  column-width: 35em;
  column-gap: 5%;
}
.niv2{
  background: #EEE;
  color: green;
  margin-left: 20%;
  margin-right: 40%;
  text-align: left;
}

/*le pied de page*/
#piedpage {
  display: block; 
  background: #f0fff0;
  color: black;
  text-align: center;
  border: solid 2px #4450B0;
  padding: 0.6ex 1.5em;
  margin-left: 33%;
  margin-right: 33%;
}
